.buttonMenu{
    margin-top: 10px;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 45px;
}

.legendButton{
    font: 400 1.5rem Sansita;

    
}