.containerPageDetails{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detailsContainer{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.imageContainer{
    margin: 8px 20px;
    width: 150px;
    height: 140px;
    background-color: crimson;
    border-radius: 10px;
}

.detailsLanche{
    width: 30vw;
    height: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titleStyle{
    font: 700 3.5rem "Sansita";
}

.titleLancheContainer{
    width: 30vw;
    height: 7vh;
    padding: 0px 4px;
}

.legendLancheContainer{
    padding: 5px 10px;
    width: 30vw;
    height: 13vh;
    display: flex;
    align-items: flex-end;

}

.modification{
    width: 100%;
    height: 60vh;
}

.alterarPaoContainer{
    width: 100%;
    height: 25vh;
}

.headerTitle{
    margin-bottom: 20px;
    width: 100%;
    height: 5vh;
    background-color: #F16262;
}

.titleHeader{
    margin-left: 15px;
    font: 700 2.5rem "Sansita";
    color: #FFFF;
}

.alterarPaoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acrescimosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.legendStyle{
    font: 400 1.7rem "Ubuntu";
}

.iconGoBack{
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}