.tableBox{
    /* margin-bottom: 35px; */
    width: 50vw;
    height: 8vh;
    border: solid 2px #FF0000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    
}
.titleContainerBox{
    padding-bottom: 4px;
    width: 50%;
    height: 100%;
    padding-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.componentTableBox{
    width: 50%;
    height: 100%;
    /* background-color: darkseagreen; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.legendTableBox{
    font: 700 1.7rem Sansita;
    color: #676464;
    text-align: start;
}

